@import "tailwindcss";
@import "@repo/tailwind/css";
@import "@repo/colorbox/palettes/gruv.css" layer(theme);
@import "@repo/colorbox/maps/gruv.css" layer(theme);
@plugin "@iconify/tailwind4" {
  scale: 1.1;
}

@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-display: swap;
  /* We serve Figtree locally as the Google fonts / fontsource version of the
     font does not include any stylistic sets for some reason...
   */
  src: url("/Figtree.woff2") format("woff2");
}

body {
  font-family: "Figtree";
  font-variant-numeric: tabular-nums;
  font-feature-settings: "ss01" 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Google Sans Code";
}
