@import "tailwindcss";
@import "@repo/tailwind/css";
@import "@repo/colorbox/palettes/flexoki.css" layer(theme);
@import "@repo/colorbox/maps/flexoki.css" layer(theme);
@import "@repo/rehype-code-groups/css" layer(base);
@plugin "@iconify/tailwind4" {
  scale: 1.1;
}

@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-display: swap;
  /* We serve Figtree locally as the Google fonts / fontsource version of the
     font does not include any stylistic sets for some reason...
   */
  src: url("/Figtree.woff2") format("woff2");
}

body {
  font-family: var(--font-sans);
  font-variant-numeric: tabular-nums;
  font-feature-settings: "ss01" 1;
  scrollbar-gutter: stable;
  scrollbar-gutter: stable both-edges;
  scrollbar-color: var(--frame-low) var(--surface);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
}

.footnotes::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--frame-low);
}

.footnotes li {
  margin-top: 12px;
}

html.light {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

@media screen and (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

html {
    overflow-y: hidden;
}

/*
// This can disable the awkward zoom reveal of the out-of-bounds content,
// but is a litte risky since images really require zoom to use...
// A JS solution to snap back to 0 scroll on zoom out is maybe better??
body {
  touch-action: pan-y;
}
*/

html::after {
    display: block;
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: calc(110vh - 100%);
    background: linear-gradient(45deg, var(--surface-high), var(--frame-low) 70%);
    box-shadow: 0 9px 9px -9px var(--frame-high) inset;
}
