---
// import "@fontsource-variable/figtree";
import "@fontsource/google-sans-code/400.css";
import "@fontsource/google-sans-code/600.css";
import { ClientRouter } from "astro:transitions";

import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  pageTitle?: string;
  routeTitle: string;
}

const { pageTitle, routeTitle } = Astro.props;
const siteTitle = "Aaron Jordan";

const title = [routeTitle, pageTitle, siteTitle].filter((x) => x).join(" - ");
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <slot />
    <footer class="lane py-4 border-t border-frame">
      <span class="font-mono text-xs text-center text-frame-high">
        made with
        <span class="sr-only">love</span>
        <span class="icon-[ph--heart] align-sub"></span>
        in PDX
      </span>
    </footer>
  </body>
</html>
