---
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import "@fontsource/google-sans-code/400.css";
import "@fontsource/google-sans-code/600.css";

import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  pageTitle?: string;
  routeTitle: string;
  description?: string;
}

const { pageTitle, routeTitle, description } = Astro.props;
const siteTitle = "Aaron Jordan";
const title = [routeTitle, pageTitle, siteTitle].filter(Boolean).join(" - ");
const defaultDescription =
  "Hey there! I build software that delights users and empowers developers.";
const pageDescription = description ?? defaultDescription;

const ogImageRoute =
  Astro.url.pathname.replace(/^\//, "").replace(/\/$/, "") || "index";
const ogImageUrl = new URL(`/og/${ogImageRoute}.png`, Astro.site);

// .app-root is a workaround for a Safari CSS var color bug...
---

<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={pageDescription}
      twitter={{ creator: "@aaronjordandev" }}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: ogImageUrl.href,
          url: Astro.url.href,
        },
        optional: {
          siteName: "a9n.dev",
          description: pageDescription,
        },
      }}
    />
    <script is:inline>
      const t = localStorage.getItem("t");
      const maps = {
        1: { name: "light", icon: "icon-[ph--sun]" },
        2: { name: "dark", icon: "icon-[ph--moon]" },
      };
      const map = t in maps && maps[t];
      if (map) {
        document.documentElement.classList.add(map.name);
        const cb = () => {
          const themeIcon = "[data-theme-button] span";
          document.querySelector(themeIcon).classList.value = map.icon;
        };
        document.addEventListener("readystatechange", cb, { once: true });
        document.addEventListener("astro:after-swap", cb);
      }
    </script>
  </head>
  <body>
    <div class="app-root min-h-full transition-colors">
      <Header />
      <slot />
      <footer class="lane py-4 border-frame-low pb-14">
        <span class="font-mono text-xs text-center text-frame-high">
          made with
          <span class="sr-only">love</span>
          <span class="icon-[ph--heart] align-sub"></span>
          in PDX
        </span>
      </footer>
    </div>
  </body>
</html>

<script>
  import { swapFunctions } from "astro:transitions/client";

  function selectMain(doc: Document): HTMLElement {
    return doc.body.querySelector(".app-root > main")!;
  }

  function swap(doc: Document) {
    swapFunctions.deselectScripts(doc);
    // swapFunctions.swapRootAttributes(doc); // disabled for color theme
    swapFunctions.swapHeadElements(doc);
    const _new = selectMain(doc);
    const _old = selectMain(document);
    const restoreFocusFunction = swapFunctions.saveFocus();
    _old.parentElement!.replaceChild(_new, _old);
    restoreFocusFunction();
  }

  document.addEventListener("astro:before-swap", (event) => {
    event.swap = () => swap(event.newDocument);
  });
</script>
