---
import Base from "./Base.astro";

interface Props {
  pageTitle?: string;
  routeTitle: string;
  description?: string;
}
---

<Base {...Astro.props}>
  <main class="lane py-8">
    <slot />
  </main>
</Base>
