---
import Column from "../layouts/Column.astro";
---

<Column routeTitle="Home">
  <hgroup class="mt-16 mb-14">
    <h1 class="text-2xl">Aaron Jordan</h1>
    <p>Senior Software Engineer at Woflow</p>
  </hgroup>
  <h2>Now</h2>
  <p>Here I go again, writing about me.</p>
  <h2>Notebook</h2>
  <p>
    Another paragraph or at least a list of things I've written, short or long.
  </p>
</Column>
