---
import { getCollection, render } from "astro:content";
import Column from "../../layouts/Column.astro";

export async function getStaticPaths() {
  const posts = await getCollection("notebooks");
  return posts.map((p) => ({ params: { id: p.id }, props: { post: p } }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Column routeTitle="Notebook">
  <h1>{post.data.title}</h1>
  <Content />
</Column>
