/* 

Builds Tailwind across the whole monorepo.

This is cool for test apps, but real apps should likely own their Tailwind
bundle to take advantage of more surgical `source` declarations.

*/

@import "tailwindcss" source("../../../");
@import "./package.css";
