@import "./reset/headings.css";
@import "./reset/inline.css";
@import "./reset/block.css";

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--surface-low);
}

.app-root {
  height: max(100%, stretch);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--surface-low);
  color: var(--content);
  line-height: 1.75;
}

main {
  flex-grow: 1;
}

::selection {
  background-color: var(--selection);
}
