@reference "tailwindcss";

@theme {
  --font-mono:
    "Google Sans Code", ui-monospace, "Fira Code", Monaco, Menlo, monospace;
  --font-sans:
    "Figtree", ui-sans-serif, system-ui, sans-serif, "Inter",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-content-high: var(--content-high);
  --color-content: var(--content);
  --color-content-low: var(--content-low);
  --color-frame-high: var(--frame-high);
  --color-frame: var(--frame);
  --color-frame-low: var(--frame-low);
  --color-surface-high: var(--surface-high);
  --color-surface: var(--surface);
  --color-surface-low: var(--surface-low);
  --color-highlight: var(--highlight);

  --color-red: var(--red);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-orange: var(--orange);
  --color-aqua: var(--aqua);

  --breakpoint-wide: 800px;
  --page-max-width: 740px;
  --spacing-gutter: 30px;
}
