---
import TitleText from "./TitleText.astro";

const routes = [
  { to: "/", label: "about" },
  { to: "/notebook", label: "notebook" },
  { to: "/snippets", label: "snippets" },
  // { to: "/bookmarks", label: "bookmarks" },
];
---

<style>
  .hero-roll {
    position: relative;
  }

  .hero-roll::after {
    content: " ";
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    padding: 2.75rem;
    border-radius: 100%;
    box-shadow: var(--pico-background-color) 0 0 1.8rem 2.1rem inset;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: linear-gradient(
      90deg,
      rgba(126, 127, 91, 0.23),
      rgba(41, 82, 110, 0.32),
      rgba(130, 192, 175, 0.18),
      rgba(126, 127, 91, 0.23),
      rgba(41, 82, 110, 0.32)
    );
    background-size: 400% 100%;
    animation: hero-roll 8s linear infinite;
    transition: opacity 1.6s ease-in-out;
    opacity: 0;
  }

  .hero-roll:hover::after {
    opacity: 1;
  }

  @keyframes hero-roll {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
</style>

<header class="lane border-b border-frame font-mono">
  <nav class="grid grid-cols-[1fr_auto] pt-8 pb-4">
    <ul class="text-xl">
      <li>
        <a class="text-content-low" href="/"><TitleText /></a>
      </li>
    </ul>
    <div
      class="row-span-2 self-center justify-self-end flex gap-1 text-2xl text-yellow"
    >
      <!-- probably will add some menu here... -->
      <!-- <button class="rounded-full hidden md:flex">
        <span class="icon-[ph--person-simple-circle]"></span>
      </button>
      <button class="rounded-full flex">
        <span class="icon-[ph--dots-three-circle]"></span>
      </button> -->
    </div>
    <ul class="flex flex-wrap gap-y-0 gap-x-4">
      {
        routes.map((r) => (
          <li>
            <a href={r.to}>{r.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
