---
const accounts = [{}];
---

<ul class="u flex flex-wrap justify-evenly">
  <li class="text-green">linkedin</li>
  <li class="text-blue">github</li>
  <li class="text-orange">instagram</li>
  <li class="text-yellow">twitter</li>
</ul>
