<!-- TODO: this should really be a menu and would make sense to drive with
           a framework component. Probably Svelte. -->
<button
  aria-label="Change color theme"
  class="rounded-full flex"
  data-theme-button
>
  <span class="icon-[ph--palette]"></span>
</button>

<script>
  const maps: Record<string, { name: string; icon: string }> = {
    1: { name: "light", icon: "icon-[ph--sun]" },
    2: { name: "dark", icon: "icon-[ph--moon]" },
  };
  const themeKeys = [null, "1", "2"];

  const button = document.querySelector("[data-theme-button]");
  button?.addEventListener("click", () => {
    const key = localStorage.getItem("t");
    const nextIdx = (themeKeys.indexOf(key) + 1) % themeKeys.length;
    const next = themeKeys[nextIdx];
    next ? localStorage.setItem("t", next) : localStorage.removeItem("t");
    const map = next ? maps[next] : { name: "", icon: "icon-[ph--palette]" };
    document.documentElement.classList.value = map.name;
    button.querySelector("span")!.classList.value = map.icon;
  });
</script>
