---
// const start = "aaronjordan";
// const target = "a9n";
---

<!-- <noscript>
  <span class="text-[1.325rem] font-medium font-sans">a9n</span>.dev
</noscript> -->
<span class="text-[1.325rem] font-medium font-sans">a9n</span>.dev
