<span id="t1" class="text-[1.325rem] font-medium font-sans tracking-wide">
  a9n.dev
</span>

<script is:inline>
  const H = ["a9n.dev", "aaronjordan.dev"];
  const d = document.getElementById("t1");
  const n = window.location.hostname;
  if (n !== d.innerText && H.includes(n)) d.innerText = n;
</script>
