h1 {
  --size: 1.5rem;
  font-size: var(--size);
  font-weight: 250;
  letter-spacing: -0.033rem;
  line-height: calc(2.5 / 1.66);
  scroll-margin-top: --spacing(10);
}
h2 {
  --size: 1.33rem;
  font-size: var(--size);
  font-weight: 450;
  letter-spacing: -0.0167rem;
  line-height: calc(1.67 / 1.33);
  scroll-margin-top: --spacing(8);
}
h3 {
  --size: 1.167rem;
  font-size: var(--size);
  font-weight: 525;
  line-height: 1.33;
  scroll-margin-top: --spacing(6);
}
h4,
h5,
h6 {
  font-weight: 600;
  scroll-margin-top: --spacing(6);
}
h4 {
  --size: 1.084rem;
  font-size: var(--size);
}
h5 {
  --size: 1rem;
  font-size: var(--size);
}
h6 {
  --size: 0.95rem;
  font-size: var(--size);
}

hgroup > :last-child {
  --size: 0.9rem;
  font-size: var(--size);
  font-style: oblique 7.5deg;
  color: var(--content-low);
  opacity: 0.8; /* TODO: use real color */
}

@media screen and (min-width: 800px) {
  h1 {
    --size: 2rem;
    line-height: calc(2 / 1.66);
  }
  h2 {
    --size: 1.66rem;
    line-height: calc(1.67 / 1.33);
  }
  h3 {
    --size: 1.33rem;
    font-weight: 525;
    line-height: 1.33;
  }
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
  h4 {
    --size: 1.167rem;
  }
  h5 {
    --size: 1rem;
  }
  h6 {
    --size: 0.9rem;
  }

  hgroup > :last-child {
    --size: 1.1rem;
  }
}
