b,
strong {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

ins,
u {
  text-decoration-color: var(--content-low);
  text-decoration-thickness: 0.06rem;
  text-underline-offset: 0.18rem;
}

del,
s {
  text-decoration-color: var(--content-low);
  text-decoration-thickness: 0.08rem;
}

mark {
  background-color: var(--highlight);
  color: var(--content-high);
  padding: 0.12rem 0.25rem;
}

a,
abbr,
.inline-wave {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 0.2rem;
}

a {
  color: var(--yellow);

  &:visited:not(header *) {
    color: var(--content-low);
    color: color-mix(in lch, var(--yellow), var(--content-low) 75%);
  }

  &:hover,
  &:focus-visible {
    color: var(--content);
    color: color-mix(in lch, var(--yellow), var(--content-high));
  }
}

/* header a:visited {
  color: var(--yellow);
} */

kbd {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 0.1rem solid var(--frame);
  border-radius: 0.25rem;
  box-shadow:
    0 0.12rem 0 -0.05rem #fff7 inset,
    0 0.14rem 0.05rem -0.05rem #fff7 inset,
    0.15rem 0 0.6rem -0.1rem #fff4 inset,
    0 0 0.45rem 0.1rem #fff3 inset,
    -0.15rem 0 0.3rem -0.1rem #0004 inset,
    0 -0.25rem 0.2rem -0.15rem #0007 inset;
  line-height: 1;
  background: var(--content-low);
  color: var(--surface-low);
}

p > code:not(hgroup *) {
  display: inline-block;
  background: var(--surface-high);
  border: 0.08rem solid var(--frame-low);
  border-radius: 0.3rem;
  color: var(--content-low);
  box-shadow: 0 0.03rem 0.75rem -0.1rem var(--frame-low) inset;
  padding: 0.18rem 0.3rem;
  line-height: 1;
  user-select: all;
  font-size: 0.925rem;
}
