---
import Column from "../layouts/Column.astro";
---

<Column routeTitle="Not Found">
  <p>
    the page was not <br />found
    <br /><br />
    <a href="/">&lt; go home</a>
  </p>
</Column>

<style>
  p {
    font-family: "Papyrus", "Comic Sans", "Comic Sans MS", "Georgia", serif;
    color: var(--content-low);
    font-size: 1.5rem;
    rotate: -1.25deg;
    margin: auto;
    padding-right: 10%;
  }

  a {
    margin-left: -34px;
  }
</style>
