---
import Social from "../components/Social.astro";
import Column from "../layouts/Column.astro";
---

<Column routeTitle="About">
  <hgroup class="pt-12 pb-8">
    <h1 class="font-sans text-2xl">Aaron Jordan 👋</h1>
    <p>
      Senior Software Engineer at
      <a target="_blank" href="https://woflow.com">Woflow</a>
    </p>
  </hgroup>
  <p>
    I am a lot of things and one of the things is that the thing I am is indeed
    a thing, when given some consideration. I would remark about how much of a
    thing I am and this is but I will digress for the moment, as I turn
    attention from the aforementioned fact and toward other matters.
  </p>
  <h2>Now</h2>
  <p>
    Here I go again, writing about me. Something about Portland, something
    something JavaScript and "ooh Svelte did it better" and whatever else.
  </p>
  <h2>Social</h2>
  <p>Let's connect! Find me on any of the platforms below.</p>
  <Social />
</Column>
