---
import { Content } from "../content/about.mdx";
import Social from "../components/Social.astro";
import Column from "../layouts/Column.astro";
---

<Column routeTitle="About">
  <hgroup class="pt-12 pb-8">
    <h1 class="font-sans text-2xl">Aaron Jordan 👋</h1>
    <p>
      Senior Software Engineer at
      <a target="_blank" href="https://woflow.com">Woflow</a>
    </p>
  </hgroup>
  <Content />
</Column>
