---
import { Content } from "../content/about.mdx";
import Column from "../layouts/Column.astro";
---

<Column routeTitle="About">
  <hgroup class="py-8">
    <h1 class="font-sans text-2xl wide:text-3xl">Aaron Jordan 👋</h1>
    <p>
      Senior Software Engineer at
      <a target="_blank" href="https://woflow.com">Woflow</a>
    </p>
  </hgroup>
  <Content />
</Column>
