@import "/public/flexoki.css";
@import "/public/tailwind.css";

/* Flexoki theme / dark */
:root {
  --content-low: var(--flexoki-200);
  --content: var(--flexoki-100);
  --content-high: var(--flexoki-50);
  --frame-high: var(--flexoki-600);
  --frame: var(--flexoki-700);
  --frame-low: var(--flexoki-800);
  --surface-low: var(--flexoki-black);
  --surface: color-mix(in srgb, var(--flexoki-black), var(--flexoki-950));
  --surface-high: var(--flexoki-950);

  --highlight: color-mix(in lch, var(--flexoki-yellow-600) 40%, transparent);
  --selection: color-mix(in lch, var(--flexoki-orange-600) 40%, transparent);

  --blue: var(--flexoki-blue-400);
  --green: var(--flexoki-green-400);
  --yellow: var(--flexoki-yellow-400);
  --orange: var(--flexoki-orange-400);
  --red: var(--flexoki-red-400);
  --purple: var(--flexoki-purple-400);
}

body {
  font-family: "Figtree";
  font-variant-numeric: tabular-nums;
  font-feature-settings: "ss01" 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Google Sans Code";
}
